@import "tailwindcss";

/* Store light mode palette in :root */
:root {
  --page-bg: #faf7f2; /* Linen */
  --page-text: #333333; /* Onyx */
  --page-text-muted: #666666; /* Dim Gray */
  --accent1: #8c6f56; /* Coffee */
  --accent2: #a3b18a; /* Sage */
  --accent3: #c48a4d; /* Warm Ochre */

  /* Light mode hover/focus (darken) */
  --accent1-hover: color-mix(in srgb, var(--accent1) 90%, black);
  --accent1-focus: color-mix(in srgb, var(--accent1) 80%, black);

  --accent2-hover: color-mix(in srgb, var(--accent2) 90%, black);
  --accent2-focus: color-mix(in srgb, var(--accent2) 80%, black);

  --accent3-hover: color-mix(in srgb, var(--accent3) 90%, black);
  --accent3-focus: color-mix(in srgb, var(--accent3) 80%, black);
}

/* Alter palette variables if the user wants dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --page-bg: #121212; /* Almost Black */
    --page-text: #e6e1dc; /* Bone */
    --page-text-muted: #a8a29e; /* Silver Chalice */
    --accent1: #c89f85; /* Sand */
    --accent2: #b5c99a; /* Light Sage */
    --accent3: #e6b17e; /* Warm Amber */

    /* Dark mode hover/focus (lighten) */
    --accent1-hover: color-mix(in srgb, var(--accent1) 90%, white);
    --accent1-focus: color-mix(in srgb, var(--accent1) 80%, white);

    --accent2-hover: color-mix(in srgb, var(--accent2) 90%, white);
    --accent2-focus: color-mix(in srgb, var(--accent2) 80%, white);

    --accent3-hover: color-mix(in srgb, var(--accent3) 90%, white);
    --accent3-focus: color-mix(in srgb, var(--accent3) 80%, white);
  }
}

/* Set inline theme for runtime color resolution */
@theme inline {
  --color-*: initial;

  --color-page-bg: var(--page-bg);
  --color-page-text: var(--page-text);
  --color-page-text-muted: var(--page-text-muted);

  --color-accent1: var(--accent1);
  --color-accent1-hover: var(--accent1-hover);
  --color-accent1-focus: var(--accent1-focus);

  --color-accent2: var(--accent2);
  --color-accent2-hover: var(--accent2-hover);
  --color-accent2-focus: var(--accent2-focus);

  --color-accent3: var(--accent3);
  --color-accent3-hover: var(--accent3-hover);
  --color-accent3-focus: var(--accent3-focus);
}

/* inline required for proper build/runtime font resolution */
@theme inline {
  --font-sans: var(--font-merriweather-sans);
  --font-serif: var(--font-merriweather);
}

body {
  @apply font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}
